<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>基础设施配套费呈批事项</string>
		<key>SBname</key>
		<string>JHCZC</string>
		<key>CVname</key>
		<string>JCSSPTFCPSX_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>重大事项会审</string>
		<key>SBname</key>
		<string>JHCZC</string>
		<key>CVname</key>
		<string>DARZSXHS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>审计报告传阅</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>SJBBCY_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>审计事项管理</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>SJSXGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>审计合同管理</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>SJHTGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>内审计划</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>JJSJJH_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>经责审计通知书</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>JZSJTZS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>经责审计报告</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>ZJSJBG_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>概算审查报告传阅</string>
		<key>SBname</key>
		<string>ZJJDC</string>
		<key>CVname</key>
		<string>GSSCBGCY_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>房地产企业资质初审</string>
		<key>SBname</key>
		<string>XZFWC</string>
		<key>CVname</key>
		<string>FDCKFQYZZCS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>房地产开发企业资质许可报签</string>
		<key>SBname</key>
		<string>XZFWC</string>
		<key>CVname</key>
		<string>FDCKFQYZZXKBQ_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>房地产开发企业资质许可件公示</string>
		<key>SBname</key>
		<string>XZFWC</string>
		<key>CVname</key>
		<string>FDCKFQYZZXKJGS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>建筑业企业资质审查意见公示</string>
		<key>SBname</key>
		<string>XZFWC</string>
		<key>CVname</key>
		<string>JZYQYZZSCYJGS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>工程勘察设计企业资质初审</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>GCKCSJQYZZCS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>工程勘察设计企业资质申报业绩核查初审</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>GCKCSJQYZZYJHCCS_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>勘察设计企业诚信手册管理</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>KCSJQYCXSCGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>勘察设计企业资质证书领取</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>KCSJQYZZZSLQ_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>优秀勘察设计项目申报</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>YXKCSJXMSB_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>勘察设计企业诚信证明办理</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>KCSJQYCXZMGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>工程建设企业技术标准认证</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>GCJSQYBZSB_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>省级节能减排专项引导资金项目管理</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>SJJNQPZXYDZJXMGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>建设领域推广应用新技术项目评估认定初审</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>KJCGTGXMPGRDSQB_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>民用建筑能效测评机构申报</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>MYJSNXPCJGSBLZD_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>建设领域推广应用新技术出省、出市备案</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>JSLYTGYYJSCSCSBA_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>不使用太阳能热水系统评估</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>BNSYTYNRSXTSB_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>绿色建筑评价标识申报</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>LSJZPJBSSQLZD_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>建设科技项目奖项申报</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>JSKJXMJXSB_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>建设科技项目管理</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>JSKJXMGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>施工图设计文件审查机构认定申请</string>
		<key>SBname</key>
		<string>JSJNYKYSJC</string>
		<key>CVname</key>
		<string>SGTSJWJSCJGRDSQ_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>临时占用道路管理</string>
		<key>SBname</key>
		<string>CSJSC</string>
		<key>CVname</key>
		<string>LSZYDLGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>挖掘道路管理</string>
		<key>SBname</key>
		<string>CSJSC</string>
		<key>CVname</key>
		<string>WJDLGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>依附城市道路管理</string>
		<key>SBname</key>
		<string>CSJSC</string>
		<key>CVname</key>
		<string>YFCSDLGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>燃气行政许可事项审批流转表</string>
		<key>SBname</key>
		<string>GYSYC</string>
		<key>CVname</key>
		<string>QRXZXKSXSPLZ_LIst</string>
	</dict>
	<dict>
		<key>text</key>
		<string>资金申报事项</string>
		<key>SBname</key>
		<string>CZJSC</string>
		<key>CVname</key>
		<string>ZJSBSX_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>规费缴纳管理</string>
		<key>SBname</key>
		<string>CSZHKFGLBGS</string>
		<key>CVname</key>
		<string>GFJNGL_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>建设条件意见书会签</string>
		<key>SBname</key>
		<string>CSZHKFGLBGS</string>
		<key>CVname</key>
		<string>JYTJYJSHQ_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>交付使用备案会签</string>
		<key>SBname</key>
		<string>CSZHKFGLBGS</string>
		<key>CVname</key>
		<string>JFSYBAHQ_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>地块配套市政工程项目建设书阶段会签</string>
		<key>SBname</key>
		<string>CSZHKFGLBGS</string>
		<key>CVname</key>
		<string>DKPTSZGCXMJSSJDHQ_List</string>
	</dict>
	<dict>
		<key>text</key>
		<string>新闻报道内容审批事项</string>
		<key>SBname</key>
		<string>XCJYC</string>
		<key>CVname</key>
		<string>XCJYC_List</string>
	</dict>
</array>
</plist>
